@use "../abstract/variables";

body {
    color: variables.$couleur-text;
    margin: 0;
    text-align: center;
    background-color: variables.$couleur-primaire;
    font-size: 24px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: variables.$couleur-text;
}
h1 {
    font-size: 64px;
    margin: 0;
}
h2 {
    font-family: variables.$police-accent;
}