@use "../abstract/variables";

@media screen and (max-width: 850px) {
    #portfolio {
        .carroussel-container {
            padding: 0 !important;
            input {
                width: 80% !important;
            }
            .project {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: visible;
                scale: 1;
                &.next{                    
                }
                img {
                    width: 900%;
                }
            } 
            
        } 
    }
}

@media screen and (max-width: 850px) {
    #header>nav {
    font-size: 0.8rem;}
    #header {
        padding: 1rem;
        .nav-logo{
            .logo{
                top: 10%;
            }
        }
        ul {
            gap: 0;
            margin: 0;
            padding: 0;
        }
    }
    #portfolio {
        .carroussel-container {
            padding: 0 !important;
            input {
                width: 80% !important;
            }
            .project {
                display: flex;
                flex-direction: column;
                align-items: center;
                &.next{
                    
                }
                img {
                    width: 500%;
                }
            } 
            
        } 
    }
    footer {
        margin-top: 10%;
        font-family: variables.$police-light;
        .footer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

    }

}
@media screen and (max-width: 1150px) {
    #header>nav { position: absolute; 
    left: 25%;
    top: 0%;}
    .logo {
        width: 9% !important;
    }
    .flames {
        display: none;
    }
    //base
    h1 {
        font-size: 2rem;
        width: 50%;
        padding-top: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    body {
        font-size: 1rem;
    }
    #banner {
        position: relative;
        overflow: hidden;
        .banner-container {
            .avatar {
                width: 50%!important;
                margin: 0;
            }
            .btn {
                margin: 0 0 5rem 0;
            }
        }

        background-image: none !important;
        &::before {
          content: "";
          position: absolute;
          top: 0; 
          left: 0;
          width: 100%; 
          height: 100%;
          background: url(../img/flames_2.gif) center/cover;
          opacity: 0.3;
          z-index: -1;
        }
    }

    #about {
        width: 80%;
        .about-container {
            width: 100%;
        }
    }

    #resume {
        .resume-imgs {
            margin-top: 1rem !important;
            flex-direction: column;
            align-items: center;
            .cv {
                .btn {
                    font-size: 2rem;
                }
            }
        }
    }

    #portfolio {
        .carroussel-container {
            padding: 0 !important;
            input {
                width: 80% !important;
            }
            .project {
                img {
                    width: 300%;
                }
            } 
            
        } 
    }

    #latest {
        .last-projects {
            scale: 0.3 !important;
            opacity: 1 !important;
        }
        .contribution {
            scale: 1.1 !important;
            opacity: 1 !important;
            margin: 0 !important;
        }
    }
}


@media screen and (max-width: 1500px) {
    nav {
        position: relative;
        z-index: 2;
    }
    .logo {
        width: 9% !important;
    }
    .flames-container {
        width: 20%;
    }
    //base
    h1 {
        font-size: 2rem;
        width: 50%;
        padding-top: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    body {
        font-size: 1.5rem;
    }
    #about {
        margin: 10rem 10% !important;
    }

    #portfolio {
        .project{
            &.prev {
                left: 30%
            }
            &.active {
                left: 30%;
            }
            &.next {
                left: 50%;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
#portfolio {

    .btn {
        margin: 5rem 0 5rem 0 !important;
        width: 40% !important;
    }
    .carroussel-container {
        overflow-x: hidden;
        padding-bottom: 15rem;
        input {
        }
        .project {
            scale: 0.8;
            margin-top: 0%;
        }
    }}
    #portfolio {
        .project{
            &.prev {
                left: 30%
            }
            &.next {
                left: 50%;
            }
        }
    }
}