@use "../abstract/variables";
@use "../base/base";

.footer{
    .logo {
        a img {
          width: 3.5vw;
          height: 2em;
          cursor: pointer;
          transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
      
        a:hover img {
          transform: scale(1.3);
        }
      }
      
  }
  

  footer {
    margin-top: 10%;
    font-family: variables.$police-light;
    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .policies {
        border-left: 2px solid variables.$couleur-text;
        margin-left: 1rem ;
        padding-left: 1rem;
      }
      .logo-bot {
          display: flex;
          justify-content: center;
          gap: 2rem;
          .logo {
              width: 15%;
              img {width: 100%;}
          }
      }
    }
}