@font-face {
  font-family: "Cormorant Bold";
  src: url("../fonts/Cormorant_Garamond/static/CormorantGaramond-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Quicksand Light";
  src: url("../fonts/Quicksand/static/Quicksand-Light.ttf");
}
@font-face {
  font-family: "Crimson Bold";
  src: url("../fonts/Crimson_Pro/static/CrimsonPro-Bold.ttf");
}
body {
  color: #F8F8F2;
  margin: 0;
  text-align: center;
  background-color: #1B1B1E;
  font-size: 24px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #F8F8F2;
}

h1 {
  font-size: 64px;
  margin: 0;
}

h2 {
  font-family: "Crimson Bold";
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
header .nav-logo .logo {
  width: 8%;
  position: fixed;
}
header .nav-logo .logo img {
  width: 100%;
}
header .nav-logo #logo-site {
  right: 85%;
}
header .nav-logo #logo-site img {
  border-radius: 100%;
}
header .nav-logo #pause {
  left: 85%;
}

.footer .logo a img {
  width: 3.5vw;
  height: 2em;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.footer .logo a:hover img {
  transform: scale(1.3);
}

.btn {
  background-color: #8B0000;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #F28F3B;
}

#banner {
  margin-top: 5%;
}
#banner .banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#banner .banner-container .avatar {
  width: 20%;
  margin: 3rem 0;
}
#banner .banner-container .avatar img {
  width: 100%;
  border-radius: 100%;
}
#banner .banner-container p {
  font-size: 32px;
  margin: 0;
}
#banner .flames-container {
  display: flex;
  justify-content: space-between;
}
#banner .flames-container .flames {
  position: absolute;
  top: 0%;
}
#banner .flames-container .flames.deux {
  right: 0%;
}

#about {
  margin: 10rem 33%;
}

#resume {
  margin: 0 8%;
  padding: 5% 0;
  background-color: #E6E8E6;
}
#resume .resume-container {
  color: black;
}
#resume .resume-container .resume-imgs {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  gap: 6rem;
}
#resume .resume-container .resume-imgs .competence {
  width: 50%;
}
#resume .resume-container .resume-imgs .cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#resume .resume-container .resume-imgs .cv .cv-img {
  width: 40%;
}
#resume .resume-container .resume-imgs .cv .cv-img img {
  width: 100%;
}

#portfolio {
  background-color: black;
  margin: 2rem 5%;
}
#portfolio .portfolio-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#portfolio .portfolio-container .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#portfolio .portfolio-container .project .project-img {
  width: 80%;
}
#portfolio .portfolio-container .project .project-img img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
