$couleur-primaire: #1B1B1E;
$couleur-accent: #F28F3B;
$couleur-secondaire: #8B0000;
$couleur-text: #F8F8F2;
$couleur-ivoire: #E6E8E6;
$police-principale: "Open Sans", sans-serif;
$police-secondaire: "Nunito Semi-bold", sans-serif;
$police-accent:"Dancing Script", cursive;
