$couleur-primaire: #1B1B1E;
$couleur-accent: #F28F3B;
$couleur-secondaire: #8B0000;
$couleur-text: #F8F8F2;
$couleur-ivoire: #E6E8E6;
$police-principale: "Quicksand";
$police-secondaire: "Cormorant Bold";
$police-accent:"Crimson Bold";
$police-light:"Quicksand Light";