@use "../abstract/variables";
@use "../base/base";
@use "../base/responsive";

#banner {
    margin-top: 5%;
    .banner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .avatar {
            width: 20%;
            margin: 3rem 0;
            img {width: 100%;
            border-radius: 100%;}
        }
        p {
            font-size: 32px;
            margin: 0;
        }
    }
    .flames-container {
        display: flex;
        justify-content: space-between;
        .flames {
            position: absolute;
            top: 0%;
        }
        .flames.deux {
            right: 0%;
        }
    }
}

#about {
    margin: 10rem 33%;
}

#resume {
    margin: 0 8%;
    padding: 5% 0;
    background-color: variables.$couleur-ivoire;
    .resume-container {
        color: black;
        .resume-imgs {
            display: flex;
            justify-content: space-between;
            margin: 2rem;
            gap: 6rem;
            .competence {
                width: 50%;
            }
            .cv {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 1rem;
               .cv-img {
                width: 40%;
                img {width: 100%;}
               }
            }
        }
    }
}

#portfolio {
    background-color: black;
    margin: 2rem 5%;
    padding-bottom: 3%;
    .portfolio-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        .project {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .project-img {
                width: 80%;
                img {width: 100%;}
            }
        }
    }
}

#latest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contribution, .last-projects {
        width: 50%;
        img {width: 100%;}
    }
}